@model MVCFinalProject.ViewModels.DeliveryHistoryViewModel
@{
    ViewBag.Title = "HistoryOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/styleIndex.css">
    <link rel="stylesheet" href="~/Content/css/styleee.css">
    <link rel="stylesheet" href="~/Content/css/Post-Template.css">


    <link rel="stylesheet" href="~/Content/css/nicepage.css" media="screen">


    <script class="u-script" type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script class="u-script" type="text/javascript" src="~/Content/js/popper.js"></script>
    <script class="u-script" type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script class="u-script" type="text/javascript" src="~/Content/js/main.js"></script>

    <meta name="generator" content="Nicepage 4.8.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">
</head>


<body class="pag">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <div class="img bg-wrap text-center py-4">
                <div class="user-logo">
                    <div class="img" style="background-image: url(/Content/images/logoo.jfif);"></div>
                    <h3>Delivery</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    @*<a href="#"><span class="fa fa-home mr-3"></span> Home</a>*@
                    @Html.ActionLink("Home", "Index")
                </li>
                <li>
                    @Html.ActionLink("My profile", "ChangePassword", "Manage")
                </li>
                <li>
                    @Html.ActionLink("Current orders", "CurrentOrders")

                </li>
                <li>

                    @Html.ActionLink("History orders", "HistoryOrders")
                </li>
                <li>


                    @Html.ActionLink("Log off", "Login", "Account")


                </li>
            </ul>

        </nav>



        <div class="u-clearfix u-gradient u-section-1" id="content" class="p-4 p-md-5 pt-5">


            <h2>History orders</h2>



            <table class="table">
                <tr>
                    <th>
                        <p>ID</p>
                    </th>
                    <th>
                        <p>ClientId</p>
                    </th>
                    <th>
                        <p>CartId</p>
                    </th>
                    <th>
                        <p>CreatedAt</p>
                    </th>
                    <th>
                        <p>DeliveredAt</p>
                    </th>
                </tr>

                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CliendId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CartId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveredAt)
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</body>









